@font-face {
  font-family: "Pretendard";
  src: url("./Pretendard-Regular.otf");
}

body {
  font-family: Pretendard, Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  min-width: 375px;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

p {
  margin: 0;
  padding: 0;
}

/* 헤더 */
.header {
  height: 50px;
  border-bottom: 1px solid #eee;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_search {
  width: 240px;
  background: rgba(240, 240, 240, 0.733);
  border-radius: 36px;
  padding: 0 4px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_search > input {
  width: 80%;
}

.header_search_icon {
  width: 20px;
  height: 20px;
}

.header_icon {
  margin-left: 16px;
  width: 20px;
  height: 20px;
}

/* 메인 */
.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 767px;
  margin: 0 auto;
}
/* 피드 */
.feed {
  padding-top: 16px;
}

/* 피드 아이템 */
.feedItem {
  border: 1px solid #eee;
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: white;
}

.feedItem_title {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.feedItem_contents {
  padding: 32px 16px;
  font-size: 14px;
}

/* 반응형 */
@media screen and (min-width: 375px) and (max-width: 768px) {
  /* mobile ~ tablet */
  /* body {
    background-color: red;
  } */

  .main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 374px;
  }

  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  /* tablet ~ pc */
  /* body {
    background-color: pink;
  } */
}
